@use '../../styles/variables' as v;

.menu-items {
  list-style: none;
  display: flex;
}

.menu-items li {
  padding: 0.5em;
  font-size: 1.5em;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
  font-family: v.$boldfont;
  color: v.$buttons;
}

.dropdown {
  display: none; 
  
  .dropdown-icon {
    font-size: 3.5em; 
    color: v.$buttons;
    position: fixed;
    top: 0.6em;
    right: 0.5em;
  }
  
  &.show-menu {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown-menu {
  display: none;
  list-style: none;
  position: relative;
  right: auto;

  li {
    padding: 0.5em;
    font-size: 1.2em;
    font-family: v.$boldfont;

    color: v.$buttons;
    position: relative;

  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .dropdown {
    display: block;
    position: absolute;
    right: 1.8em;
    text-align: right;
    background-color: v.$background;
    z-index: 1000;
  }
  .dropdown-icon {
    padding-right: 0.5em;
  }
}