$darkpurple: #1e034d;
$lightpurple: #b66cf7;
$darkblue: #222268;
$background: #262A30;
$buttons: #5f43b2;
$greyblack: #323232;
$lightgrey: #bababa;
$offwhite: #D6EEFD;
$mainfont: 'Titillium Web';
$boldfont: 'Titillium Web Bold';
$headings: 'Titillium Web Black';